<!doctype html>
<html>
  <head>
    <!-- KaTeX for math rendering -->
    <link rel="stylesheet" href="assets/katex/katex.min.css" crossorigin="anonymous" />
    <!-- FontAwesome CSS for icon support -->
    <link rel="stylesheet" href="assets/fontawesome/fontawesome.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/fontawesome/solid.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/fontawesome/brands.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/fontawesome/regular.min.css" crossorigin="anonymous" />
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
